<!DOCTYPE html>
<html lang="zxx">

<head>
    @await Html.PartialAsync("MetatagPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("FontPartial")

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    @await Html.PartialAsync("HeaderPartial")@RenderBody()
    <!-- Header End -->

    <!-- Hero Section Begin -->
    @await Html.PartialAsync("HeroPartial")@RenderBody()
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    @await Html.PartialAsync("ProductPartial")@RenderBody()
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    @await Html.PartialAsync("FooterPartial")@RenderBody()
    <!-- Footer Section End -->

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->
 <script src="~/js/bundle.js"></script>

</body>

</html>